.register {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.register__inner {
  width: 50%;
  background: rgba(201, 172, 140, 0.93);
  padding: 100px 38px;
}

.register__img{
  width: 500px;
  height: 500px;
}

.register__box {
  width: 50%;
  padding-top: 75px;
  padding-bottom: 136px;
 padding-left: 112px;
}

.register__title {
  font-family: 'Arial Black';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 51px;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.register__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin: 0;
  margin-bottom: 21px;
}

.register__subtext{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #549FF9;
}

.form {
  width: 328px;
}

.form__input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid #B4B4BB;
  border-radius: 10px;
  padding: 16px 187px 10px 29px;
}

.form__btn {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background: #152540;
  border-radius: 99px;
  margin: 0 auto;
  padding: 5px 20px;

}